<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/"
    />

    <!-- title -->
    <title>Cart</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- fontawesome -->
    <link rel="stylesheet" href="/css/all.min.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <!-- magnific popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <!-- animate css -->
    <link rel="stylesheet" href="/css/animate.css" />
    <!-- mean menu css -->
    <link rel="stylesheet" href="/css/meanmenu.min.css" />
    <!-- main style -->
    <link rel="stylesheet" href="/css/main.css" />
    <!-- responsive -->
    <link rel="stylesheet" href="/css/responsive.css" />

    <link rel="stylesheet" href="/css/header.css">

  </head>
  <body>

    <%- include("./sides/header.ejs", {user}) %>

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
              <p>Mr Part Maker</p>
              <h1>سبد خرید</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- cart -->
    <div class="cart-section mt-150 mb-150">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12">
            <div class="cart-table-wrap">
              <table class="cart-table">
                <thead class="cart-table-head">
                  <tr class="table-head-row">
                    <th class="product-remove"></th>
                    <th class="product-image">عکس محصول</th>
                    <th class="product-name">نام</th>
                    <th>قیمت کالا</th>
                    <th class="product-quantity">تعداد</th>
                    <th class="product-total">قیمت</th>
                  </tr>
                </thead>
                <tbody>

                  <% orders.forEach((order) => { %>
                    <% const product = products.find(x => x.id == order.productId) %>
                    <% const productPrice = convertToEnglish(product.price.replaceAll(",", "")) %>

                    <% if(product){ %>

                      <tr class="table-body-row">
                        <td class="product-remove">
                          <a href="#"><i class="far fa-trash-alt"></i></a>
                        </td>
                        <td class="product-image">
                          <img src="/img/products/<%= product.picture %>" alt="" />
                        </td>
                        <td class="product-name"><%= product.name %></td>
                        <td class="product-price"><%= product.price %></td>
                        <td class="product-quantity"><%= order.count %></td>
                        <td class="product-total"><%= convertToPersian(Number(productPrice) * Number(order.count)) %></td>
                      </tr>

                    <% } %>

                  <% }) %>

                </tbody>
              </table>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="total-section">
              <table class="total-table">
                <thead class="total-table-head">
                  <tr class="table-total-row">
                    <th>قیمت</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="total-data">
                    <td class="product-price">500</td>
                    <td><strong>قیمت کل: </strong></td>
                  </tr>
                  <tr class="total-data">
                    <td class="product-price">45</td>
                    <td><strong>ارسال: </strong></td>
                  </tr>
                  <tr class="total-data">
                    <td class="product-price">545</td>
                    <td><strong>قیمت کل: </strong></td>
                  </tr>
                </tbody>
              </table>
              <div class="cart-buttons">
                <a href="cart.html" class="boxed-btn">فروشگاه</a>
                <a href="checkout.html" class="boxed-btn black">پرداخت</a>
              </div>
            </div>

            <div class="coupon-section">
              <h3>کد تخفیف دارید ؟</h3>
              <div class="coupon-form-wrap">
                <form action="index.html">
                  <p><input type="text" placeholder="وارد کنید" /></p>
                  <p><input type="submit" value="ثبت" /></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end cart -->

    <%- include("./sides/footer.ejs", {about}) %>

    <!-- jquery -->
    <script src="/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="/js/jquery.meanmenu.min.js"></script>
    <!-- main js -->
    <script src="/js/main.js"></script>

    <script src="/js/scripts-cart.js" defer></script>

    <script src="/js/sticker.js"></script>
  </body>
</html>
