<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Mr Part Maker WebSite" />

    <!-- title -->
    <title>Mr Park Maker</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- fontawesome -->
    <link rel="stylesheet" href="/css/all.min.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <!-- magnific popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <!-- animate css -->
    <link rel="stylesheet" href="/css/animate.css" />
    <!-- mean menu css -->
    <link rel="stylesheet" href="/css/meanmenu.min.css" />
    <!-- main style -->
    <link rel="stylesheet" href="/css/main.css" />
    
    <link rel="stylesheet" href="/css/header.css">
    
    <!-- responsive -->
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>

    <!-- header -->
    <%- include('./sides/header.ejs', {about, user}) %>
    <!-- hero area -->
    <div class="hero-area hero-bg index-hero">
      <div class="container">
        <div class="row">
          <div class="hero-text">
            <div class="hero-text-tablecell">

              <ul class="top-list">
                <% homeMainItems.forEach(item => { %>
                  
                  <li class="top-list-item top-list-item-left">
                    <div class="top-list-item-top">
                      <img
                        src="/img/<%= item.picture %>"
                        alt=""
                        class="top-list-image"
                      />

                      <h1 class="top-list-title"> <%= item.name %> </h1>

                      <p class="top-list-description">
                        <%= item.description %>
                      </p>
                    </div>

                    <div class="top-list-item-bottom">
                      <div class="hero-btns">
                        <a href="<%= item.link %>" class="boxed-btn">
                          <%= item.name %>
                        </a>
                      </div>
                    </div>
                  </li>

                <% }) %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end hero area -->

    <!-- features list section -->
    <div class="list-section pt-80 pb-80">
      <div class="container">
        <div class="row">
          <% homeTopItems.forEach(obj => { %>

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="list-box d-flex align-items-center">
              <div class="content">
                <h3><%= obj.name %></h3>
                <p><%= obj.description %></p>
              </div>

              <div class="list-icon">
                <i class="fas <%= obj.icon %>"></i>
              </div>
            </div>
          </div>

          <% }) %>
        </div>
      </div>
    </div>
    <!-- end features list section -->

    <!-- product section -->
    <!-- <div class="product-section mt-150 mb-150">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="section-title">
              <h3>کالاهای <span class="orange-text">ما</span></h3>
              <p>برخی کالا های ما اینجا نوشته می شوند</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="single-product-item">
              <div class="product-image">
                <a href="single-product.html"
                  ><img src="/img/products/product-img-1.jpg" alt=""
                /></a>
              </div>
              <h3>Strawberry</h3>
              <p class="product-price"><span>Per Kg</span> 85</p>
              <a href="cart.html" class="cart-btn"
                ><i class="fas fa-shopping-cart"></i>افزودن به سبد خرید</a
              >
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="single-product-item">
              <div class="product-image">
                <a href="single-product.html"
                  ><img src="/img/products/product-img-2.jpg" alt=""
                /></a>
              </div>
              <h3>Berry</h3>
              <p class="product-price"><span>Per Kg</span> 70</p>
              <a href="cart.html" class="cart-btn"
                ><i class="fas fa-shopping-cart"></i>افزودن به سبد خرید</a
              >
            </div>
          </div>
          <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
            <div class="single-product-item">
              <div class="product-image">
                <a href="single-product.html"
                  ><img src="/img/products/product-img-3.jpg" alt=""
                /></a>
              </div>
              <h3>Lemon</h3>
              <p class="product-price"><span>Per Kg</span> 35</p>
              <a href="cart.html" class="cart-btn"
                ><i class="fas fa-shopping-cart"></i>افزودن به سبد خرید</a
              >
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- end product section -->

    <!-- cart banner section -->
    <% let display = "block" %>
    <% if(offers == undefined) display = "none" %>
    <% if(!isShopAv) display = "none" %>

    <section class="cart-banner pt-100 pb-100" style="display : <%=display%>">
      <div class="container">
        <div class="row clearfix">

          <!--Image Column-->
          <div class="image-column col-lg-6">
            <div class="image">
              <div class="price-box">
                <div class="inner-price">
                  <span class="price">
                    <strong class="darsad"><%= (offers) ? offers[0].offer : 0 %></strong> <br />
                    تخفیف/عدد
                  </span>
                </div>
              </div>
              <img src="/img/a.jpg" alt="" />
            </div>
          </div>
          <!--Content Column-->
          <div class="content-column col-lg-6">
            <h3><span class="orange-text">تخفیف</span> ماهانه</h3>
            <h4><%= (offers) ? offers[0].name : "-" %></h4>
            <div class="text"><%= (offers) ? offers[0].description : "-" %></div>
            <!--Countdown Timer-->
            <div class="time-counter">
              <div class="time-countdown clearfix" data-countdown="2020/2/01">
                <div class="counter-column">
                  <div class="inner"><span class="count">00</span>روز</div>
                </div>
                <div class="counter-column">
                  <div class="inner"><span class="count">00</span>ساعت</div>
                </div>
                <div class="counter-column">
                  <div class="inner"><span class="count">00</span>دقیقه</div>
                </div>
                <div class="counter-column">
                  <div class="inner"><span class="count">00</span>ثانیه</div>
                </div>
              </div>
            </div>
            <a href="/cart" class="cart-btn mt-3"
              ><i class="fas fa-shopping-cart"></i> افزودن به سبد خرید</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- end cart banner section -->

    <!-- testimonail-section -->
    <div class="testimonail-section mt-150 mb-150">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1 text-center">
            <div class="testimonial-sliders">

              <% if(pinnedComments && pinnedComments !== undefined){ %>
                <% pinnedComments.forEach(comment => { %>

                  <div class="single-testimonial-slider">
                    <div class="client-avater">
                      <img src="/img/avaters/<%=comment.icon%>" alt="" />
                    </div>
                    <div class="client-meta">
                      <h3><%= comment.name %><span><%= comment.job %></span></h3>
                      <p class="testimonial-body fa-text">
                        " <%= comment.comment %> "
                      </p>
                      <div class="last-icon">
                        <i class="fas fa-quote-right"></i>
                      </div>
                    </div>
                  </div>

                <% }) %>
              <% } %>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end testimonail-section -->

    <!-- advertisement section -->
    <div class="abt-section mb-150">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="abt-bg">
              <a
                href="https://www.youtube.com/watch?v=DBLlFWYcIGQ"
                class="video-play-btn popup-youtube"
                ><i class="fas fa-play"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="abt-text">
              <p class="top-sub">از سال <%= about.find(x => x.name == "سال شروع").description %></p>
              <h2>ما <span class="orange-text">Mr Part Maker</span> هستیم</h2>
              <p> <%= about.find(x => x.name == "تاریخچه کوتاه").description %> </p>
              <a href="/about" class="boxed-btn mt-4">بیشتر بدانید</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end advertisement section -->

    <!-- shop banner -->
    <% const monthlyOffer = offers.find(x => x.name == "monthly") %>
    <% if(monthlyOffer && isShopAv){ %>
      <section class="shop-banner">
        <div class="container">
          <h3>
            تخفیفات ماه مهر <br />
            با یک <span class="orange-text">تخفیف</span> بزرگ
          </h3>
          <div class="sale-percent">
            <span
              >بیشتر <br />
              از</span
            ><%= monthlyOffer.offer %>٪ <span>تخفیف</span>
          </div>
          <a href="/shop" class="cart-btn btn-lg">همین حالا خرید کنید</a>
        </div>
      </section>
    <% } %>
    <!-- end shop banner -->

    <!-- latest news -->
    <div class="latest-news pt-150 pb-150">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="section-title">
              <h3><span class="orange-text">اخبار</span> ما</h3>
            </div>
          </div>
        </div>

        <div class="row">

          <% news.forEach(singleNews => { %>
            <% if(singleNews !== null){ %>

              <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                  <a href="/news/<%= singleNews.id %>">
                    <img style="width: 100%; object-fit: cover;" class="latest-news-bg" src="/img/<%= singleNews.picture %>" alt="Single News Picture <%= singleNews.picture%>">
                  </a>
                  <div class="news-text-box">
                    <h3>
                      <a href="/news/<%= singleNews.id %>" class="faTexts">
                        <%= singleNews.title %>
                      </a>
                    </h3>
                    <p class="blog-meta">
                      <span class="author"><i class="fas fa-user"></i><%= singleNews.writer %></span>
                      <span class="date"
                      ><i class="fas fa-calendar"></i><%= format(new Date(singleNews.time), "yyyy/mm/dd") %></span
                      >
                    </p>
                    <p class="excerpt"><%= singleNews.description %></p>
                    <a href="/news/<%= singleNews.id %>" class="read-more-btn"
                      >بیشتر بخوانید <i class="fas fa-angle-right"></i
                    ></a>
                  </div>
                </div>
              </div>

            <%}%>
          <% }) %>
          
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <a href="/news" class="boxed-btn">اخبار بیشتر</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end latest news -->

    <!-- logo carousel -->
    <!-- <div class="logo-carousel-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="logo-carousel-inner">
              <div class="single-logo-item">
                <img src="/img/company-logos/1.png" alt="" />
              </div>
              <div class="single-logo-item">
                <img src="/img/company-logos/2.png" alt="" />
              </div>
              <div class="single-logo-item">
                <img src="/img/company-logos/3.png" alt="" />
              </div>
              <div class="single-logo-item">
                <img src="/img/company-logos/4.png" alt="" />
              </div>
              <div class="single-logo-item">
                <img src="/img/company-logos/5.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- end logo carousel -->

    <%- include("./sides/footer.ejs", {about : about}) %>

    <!-- jquery -->
    <script src="/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="/js/jquery.meanmenu.min.js"></script>
    <!-- main js -->
    <script src="/js/main.js"></script>

    <script src="/js/sticker.js"></script>
  </body>
</html>
