<div class="menu-right">
    <div class="menu-right-profile">
      <div id="menu-right-profile-top">
        <% for(const key in flash){ %>
                      
          <span role="alert" class="flash flash-<%=key%>">
            <%= flash[key] %>
          </span>
    
        <% } %>
        <div class="profile-image-menu-handler">
          <img
            src="/img/profile-image.svg"
            alt="Default profile picture"
            class="profile-image-menu"
          />
        </div>
        <div class="profile-left">
          <p id="menu-username" style="width: 100%;"><%= user.firstName %> <%= user.lastName %></p>
          <p id="menu-number" style="width: 100%;"><%= user.number %></p>
        </div>
      </div>
      <div id="menu-right-profile-bottom">
        <ul class="menu-item-profile">
          <li class="sub-menu-profile">
            <p class="sub-menu-profile-name">کیف پول</p>
            <p class="sub-menu-profile-value product-price" id="wallet"><%= user.wallet %></p>
          </li>

          <li class="sub-menu-profile">
            <p class="sub-menu-profile-name">امتیاز</p>
            <p class="sub-menu-profile-value">0</p>
          </li>

          <a href="" class="increment-total">افزایش موجودی</a>
        </ul>
      </div>
    </div>

    <hr />

    <div class="menu-right-items">

      <a href="/dashboard" class="menu-right-subItem">
        <img src="" alt="" class="menu-right-image">
        <p class="menu-right-name">داشبورد</p>
      </a>

      <a class="menu-right-subItem" href="/dashboard/orders">
        <img src="" alt="" class="menu-right-image" />
        <p class="menu-right-name">سفارش های من</p>
      </a>

      <a class="menu-right-subItem" href="https://www.twitch.tv/">
        <img src="" alt="" class="menu-right-image" />
        <p class="menu-right-name">لیست ها</p>
      </a>

      <a class="menu-right-subItem" href="/dashboard/comments">
        <img src="" alt="" class="menu-right-image" />
        <p class="menu-right-name">نظرات</p>
      </a>

      <a class="menu-right-subItem" href="dashboard/addresses">
        <img src="" alt="" class="menu-right-image" />
        <p class="menu-right-name">نشانی ها</p>
      </a>

      <a class="menu-right-subItem" href="dashboard/messages">
        <img src="" alt="" class="menu-right-image" />
        <p class="menu-right-name">پیغام ها</p>
      </a>

      <a class="menu-right-subItem" href="dashboard/information">
        <img src="" alt="" class="menu-right-image" />
        <p class="menu-right-name">اطلاعات حساب</p>
      </a>

      <a class="menu-right-subItem" href="/logout">
        <img src="" alt="" class="menu-right-image" />
        <p class="menu-right-name">خروج</p>
      </a>
    </div>
  </div>