<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/"
    />

    <!-- title -->
    <title>فروشگاه - MrPartMaker</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- fontawesome -->
    <link rel="stylesheet" href="/css/all.min.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <!-- magnific popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <!-- animate css -->
    <link rel="stylesheet" href="/css/animate.css" />
    <!-- mean menu css -->
    <link rel="stylesheet" href="/css/meanmenu.min.css" />
    <!-- main style -->
    <link rel="stylesheet" href="/css/main.css" />
    
    <link rel="stylesheet" href="/css/header.css">
    
    <!-- responsive -->
    <link rel="stylesheet" href="/css/responsive.css" />
    
  </head>
  <body>

    <%- include("../sides/header.ejs", {user}) %>

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
              <p>Mr Part Maker</p>
              <h1>فروشگاه</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- products -->
    <div class="product-section mt-150 mb-150">
      <div class="container">

        <div class="row product-lists">

          <% products.forEach((product) => { %>

            <div class="col-lg-4 col-md-6 text-center strawberry">
              <div class="single-product-item">
                <div class="product-image">
                  <a href="/products/<%= product.id %>"
                    ><img src="/img/products/<%= product.picture %>" alt=""
                  /></a>
                </div>
                <h3><%= product.name %></h3>
                <p class="product-price"><span>هر <%= product.per %></span> <%= convert.toPersian(product.price) %></p>
                <form action="/products/<%= product.id %>" method="post">

                  <% const isUserHaveThis = userOrders.find(x => x.productId == product.id) %>
                  <% if(isUserHaveThis){ %>

                    <button type="submit" class="btn btn-success" disabled>
                      <i class="fas fa-check" style="padding: 0; height: 16px; text-shadow: 0 0 5px black;"></i>
                      در سبد خرید شما موجود است
                    </button>

                  <% }else{ %>
                    <%- include("../sides/addToCart.ejs") %>
                  <% } %>

                </form>
              </div>
            </div>

          <% }) %>

        </div>

        <!-- <div class="row">
          <div class="col-lg-12 text-center">
            <div class="pagination-wrap">
              <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#" class="active page-number">1</a></li>
                <li><a class="page-number" href="#">2</a></li>
                <li><a href="#" class="page-number">3</a></li>
                <li><a href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <!-- end products -->

    <%- include("../sides/footer.ejs", {about}) %>

    <!-- jquery -->
    <script src="/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="/js/jquery.meanmenu.min.js"></script>
    <!-- main js -->
    <script src="/js/main.js"></script>

    <script src="/js/sticker.js"></script>
  </body>
</html>
